{% extends 'base.html' %}

{% block content %}
<style>
    table, th, td {
    border-collapse: collapse;
    }
    th, td {
    padding: 10px;
    }
    
</style>
<h3>Nama: </h3>
<p>{{nama}}</p>
<br>
<h2>❗ Todo ❗</h2>

    {% comment %} Data dalam list_todo {% endcomment %}
    <div class="row row-cols-1 row-cols-md-4 gap-3 mb-3"> 
    {% for todo in list_todo %}
        <div class="card-body">
            <h4 class="card-title"><strong>{{task.title}}</strong></h4>
            <h5 class="card-subtitle mb-2 text-muted">{{task.date}}</h5>
            <p class="card-text">{{task.description}}</p>
        </div>
        <div class="card-footer">
            <div>
                <form method="post" action="modify-task/">
                    {% csrf_token %}
                    <input type="hidden" name="task_pk" value={{task.pk}}>
                    <div class="btn-group" role="group">
                        {% if task.is_finished %}
                        <button class="btn btn-secondary" name="action" value="unfinish"> Ubah Status </button>
                        {% else %}
                        <button class="btn btn-secondary" name="action" value="finish"> Ubah Status </button>
                s        {% endif %}
                        <button class="btn btn-danger" name="action" value="delete"> Hapus Task </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
<br>
<button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<br>

{% endblock content %}